{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block 'nav' %}
            <li class="logoflex"><a href="{% url 'main' %}"><img class='logo' src="{% static 'images/logo.png' %}"></a></li>
            <li><a class='topmenu selectedpage' href="{% url 'cars' %}">Автомобілі</a></li>
            <li><a class='topmenu' href="{% url 'sellers' %}">Продавці</a></li>
            {% if not request.user.is_authenticated %}
            <li class="user_link"><a style='line-height: 0px;' class="topmenu" href="{% url 'login' %}"><img id="dark" style="display: none;" class='user_img' src="{% static 'images/user_dark.png' %}"><img id='light' class='user_img' src="{% static 'images/user.png' %}"></a></li>
            {% else %}
            <li class="user_link"><a style='line-height: 0px;' class="topmenu" href="{% url 'profile' %}"><img id="dark" style="display: none;" class='user_img' src="{% static 'images/user_dark.png' %}"><img id='light' class='user_img' src="{% static 'images/user.png' %}"></a></li>
            {% endif %}
            {% endblock %}
{% block 'content' %}
<div class="main">
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                }
            }
            return cookieValue;
            }
        function toggleFavorite(element, carId) {
            console.log(carId);
          var img = element.querySelector('img');
          var csrftoken = getCookie('csrftoken');
          // Make an AJAX request to add/remove the car from user's favorites
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{% url 'toggle_favorite' %}", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.setRequestHeader('X-CSRFToken', csrftoken);
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              // Update the image source based on the response
              var response = JSON.parse(xhr.responseText);
              if (response.is_favorite) {
                img.src = "{% static 'images/fav_mark.png' %}";
              } else {
                img.src = "{% static 'images/fav_unmark.png' %}";
              }
            }
          };
        
          // Send the carId in the request body
          var data = JSON.stringify({ car_id: carId });
          console.log(data);
          xhr.send(data);
        }
    </script>
    <script>
        $(document).ready(function(){
            $('.unclicked').on( "click", function(){
                console.log(1);
                console.log(this);
                console.log(this.children[0])
                $(this).children[0].remve();
                console.log(2);
                $(this).append("<img src='" + "{% static 'images/fav_unmark.png' %}" + "'>");
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('.user_link').hover(function(){
                $('#light').css('display', 'none');
                $('#dark').css('display', 'block');
            }, function() {
                $('#light').css('display', 'block');
                $('#dark').css('display', 'none');
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            var left_obj = $('.rec_or_saved_l');
            var right_obj = $($('.rec_or_saved_r'));
            $('.rec_or_saved_r').on( "click", function() {
                console.log('clicked! r');
                if ($(this).hasClass('rec_or_saved_selected')) {
                    console.log('r yep');
                } else {
                    console.log('r nope');
                    right_obj.addClass('rec_or_saved_selected');
                    left_obj.removeClass('rec_or_saved_selected');
                }
            });
            $('.rec_or_saved_l').on( "click", function() {
                console.log('clicked! l');
                if ($(this).hasClass('rec_or_saved_selected')) {
                    console.log('l yep');
                } else {
                    console.log('l nope');
                    left_obj.addClass('rec_or_saved_selected');
                    right_obj.removeClass('rec_or_saved_selected');
                }
            });

        });
    </script>
    <script>
        $(document).ready(function(){
            $('#ghost, .filterholder').hover(function(){
                $('.filterholder').toggleClass('filterholder-view')
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#ghost").css("height", $(".filterholder").height());
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#ghost2, .helpholder').hover(function(){
                $('.helpholder').toggleClass('helpholder-view')
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#ghost2").css("height", $(".helpholder").height());
        });
    </script>
    <script>
        $(document).ready(function(){
            $(".carad").each(function(){
                var width = $(this)[0].scrollWidth;
                if (width > 1050) { 
                    $(this).css("height", 830);
                } else if (width > 500) {
                    $(this).css("height", 500);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            var num = $(".catholder").children().length;
            if (num == 0) {
                $(".catholder").append('<p style="text-align:center">Поки у нас немає доступних моделей.</p>')
                $(".filterholder").hide();
                $("#ghost").hide();
                $(document).ready(function() {
                    $("footer").css("position", 'fixed');
                    $("footer").css("bottom", 0);
                });
            } else if ((num > 1) && (num < 5)) {
                console.log('yay');
                $("footer").css("position", 'absolute');
                $("footer").css("top", 350 + $(".filterholder").height());
                console.log('yay');
            }
        });
    </script>

    
    <div class="searchbox">
        <form class="formbox" method="GET">
            <img src="{% static 'images/search.png' %}">
            <input class="searchfield" placeholder="Пошук" type="textfield" name="search">
            <input class="subbutton" type="submit" value="">
        </form>
        <div class="switcher">
            {% if request.user.is_authenticated %}
            {% if not fav %}
            <a href="{% url 'cars' %}?{{ request.GET|removetags:'page,fav' }}"><button class="rec_or_saved_selected rec_or_saved_l">Рекомендації</button></a>
            <a href="{% url 'cars' %}?{{ request.GET|removetags:'page,fav' }}&fav=True"><button class="rec_or_saved_r">Збережене</button></a>
            {% else %}
            <a href="{% url 'cars' %}?{{ request.GET|removetags:'page,fav' }}"><button class="rec_or_saved_l">Рекомендації</button></a>
            <a href="{% url 'cars' %}?{{ request.GET|removetags:'page,fav' }}&fav=True"><button class="rec_or_saved_selected rec_or_saved_r">Збережене</button></a>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="additionalblocks">
    <div class="filterholder" id="userNav">
        <form class='filtersearchbox' method="GET">
            <p>Назва автомобіля:</p>
            <input type="textfield" name="search">
            <p>Привід:</p>
            {% for choice in wheel_choices %}
                <input type="checkbox" name="wheel" value="{{ choice.0 }}"><label>{{ choice.1 }}</label><br>
            {% endfor %}
            <p>Паливо:</p>
            {% for choice in fuel_choices %}
                <input type="checkbox" name="fuel" value="{{ choice.0 }}"><label>{{ choice.1 }}</label><br>
            {% endfor %}
            <p>Марка:</p>
            {% for choice in brand_choices %}
                <input type="checkbox" name="brand" value="{{ choice.0 }}"><label>{{ choice.1 }}</label><br>
            {% endfor %}
            <p>Участь в ДТП:</p>
            {% for choice in accident_choices %}
                <input type="checkbox" name="accidents" value="{{ choice.0 }}"><label>{{ choice.1 }}</label><br>
            {% endfor %}
            <p>Коробка передач:</p>
            {% for choice in trans_choices %}
                <input type="checkbox" name="transmission" value="{{ choice.0 }}"><label>{{ choice.1 }}</label><br>
            {% endfor %}
            <p><input class="filtersubbutton" type="submit" value="Пошук"></p>
        </form>
    
    </div>
    <div class="helpholder">
        <h3>Як користуватися сайтом?</h3>
        <h4>Для покупця:</h4>
        <p>Обрати машину для покупки можна просто написнувши на кнопку “Переглянути”. Проте продиратись через велику кількість сторінок нам не хочеться. Тож ми додали додаткову навігацію. Зліва ми маєсо фільтри, де ви можете обмежити ціну, пробіг, обрати марку машини, колір, тощо. Також ви можете додавати оголошення до збереженого. Більш того ми додали пошук по продацям. Їх також можна зберігати.</p>
        <h4>Для продавця:</h4>
        <p>Зареєструйтеся. Це обов’язково, адже ми намагаємося зменшити кількість спам-оголошень. Вкажіть свої контакти, які будуть показані потенційним покупцям. Створіть оголошення.</p>
        <h3>Спробуйте прямо зараз!</h3>
    </div>
    </div>
    <div id="ghost">Фільтри</div>
    <div id="ghost2">Допомога</div>
    
    <!-- <h1 style="padding: 3% 20% 0% 20%; text-align: center;">Наш доступний авторяд:</h1> -->
    <div class="catholder">
        {% for car in cars %}
            <div class="carad">
                
                <a class="pinmetotr" onclick="toggleFavorite(this, '{{ car.id }}')">
                {% if request.user.is_authenticated %}
                    {% if car in fav_cars %}
                        <img id="favImage_{{ car.id }}" src="{% static 'images/fav_mark.png' %}">
                    {% else %}
                        <img id="favImage_{{ car.id }}" src="{% static 'images/fav_unmark.png' %}">
                    {% endif %}
                {% endif %}
                </a>
                <img style="max-height: 300px; min-height: 200px;" class="carpreview" src="{{ car.picture.url }}">
                <h3>{{ car.title }}</h3>
                <span>
                <p>Ціна: {{ car.price }} грн</p>
                <p>Пробіг: {{ car.runtime }} км</p>
                <div class="carad_buttons">
                    <a class="detailcat seller" href="{% url 'seller' car.owner.id %}">Більше від продавця</a>
                    <a style='background-color: #FFCA11;' class="detailcat gotoadd" href="{% url 'car' car.id %}">Переглянути</a>
                </div>
                </span>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% if page > 1 %}
            <a href="{% url 'cars' %}?{{ request.GET|removetag:'page' }}&page={{ prev }}">Назад</a>
        {% endif %}
        {% if page != pages %}
        <a href="{% url 'cars' %}?{{ request.GET|removetag:'page' }}&page={{ next }}">Вперед</a>
        {% endif %}
        <form>
            Перейти до
            <select name="page">
                {% for i in pages|trange %}
                    <option value={{forloop.counter}}>{{forloop.counter}}</option>
                {% endfor %}
            </select>
            з {{ pages }}
        <input type="submit" value="Перейти"></form>
    </div>
</div>
{% endblock%}