{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="">
    <div class="main">
        <div class="detailholder">
            <img style="border-radius:5px" src="{{ car.picture.url }}">
        </div>
        <div class="desc">
            <h1>{{ car.title }}</h1>
            <p>Пробіг: {{ car.runtime }} км</p>
            <p>Ціна: {{ car.price }} грн</p>
            <p>Продавець: {{ car.owner.full_name }}, {{ car.owner.get_region_display }}</p>
            <h2 style="margin-top:0px">Опис:</h2>
            <p>{{ car.description }}</p>
            <h2>Характеристики</h2>
                <p>Двигун - {{ car.get_fuel_display }}</p>
                <p>Коробка передач - {{ car.get_transmission_display }}</p>
                <p>Привід - {{ car.get_wheel_display }}</p>
                <p>Колір - {{ car.color }}</p>
                <p>Участь у ДТП: {{ car.get_accidents_display }}</p>
            <p></p>
            <h1>Для зв’язку:</h1>
            <p>{{ car.owner.contacts }}</p>
        </div>
    </div>

</div>
{% endblock %}