{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="">
    <div class="main">
        <script>
            var csrftoken = getCookie('csrftoken');
            async function respfunc(data, csrftoken) {
                    const result = await fetch('{{ request.path }}/changeuser', {method: 'POST',headers:{"Content-Type":"application/json", "X-CSRFToken":csrftoken}, body:JSON.stringify(data)}); 
                    return result.json();
            };
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                    }
                }
                return cookieValue;
            };

            function switchtofield (field) {
                var parent = field.parentElement;
                if (parent.id == 'name') {
                    getbackval = parent.textContent.trim();
                } else if (parent.id == 'contacts') {
                    getbackval_raw = parent.textContent.trim();
                    start = getbackval_raw.indexOf('Контакти: ');
                    getbackval = getbackval_raw.substring(10, getbackval_raw.length).trim();
                } else if (parent.id == 'region') {
                    getbackval_raw = parent.textContent.trim();
                    getbackval = getbackval_raw.substring(9, getbackval_raw.length).trim();
                };
                parent.innerHTML = "";
                reg_html = `
                <select id='get_new_region' autocomplete="country">
                    {% for option in reg_choices %}
                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                    {% endfor %}
                </select>
                `
                if (parent.id == 'name') {
                    parent.innerHTML = "<input id='get_new_name' type='text' class='profileeditinput'><button style='width:170px;margin:5px' id='name-edit-b' onclick='editfield(this)' class='profileeditbutton'>Підтвердити</button><button style='background:grey' class='profileeditbutton' onclick='setback(this, getbackval)'>Скасувати</button>"
                } else if (parent.id == 'contacts') {
                    parent.innerHTML = "<input id='get_new_contacts' type='text' class='profileeditinput'><button style='width:170px;margin:5px' id='contacts-edit-b' onclick='editfield(this)' class='profileeditbutton'>Підтвердити</button><button style='background:grey' class='profileeditbutton' onclick='setback(this, getbackval)'>Скасувати</button>"
                } else if (parent.id == 'region') {
                    parent.innerHTML = reg_html+"<button style='width:170px;margin:5px' id='region-edit-b' onclick='editfield(this)' class='profileeditbutton'>Підтвердити</button><button style='background:grey' class='profileeditbutton' onclick='setback(this, getbackval)'>Скасувати</button>"
                };
            };
            function setback(field, val) {
                var parent = field.parentElement;
                parent.innerHTML = "";
                if (parent.id == 'name') {
                    parent.innerHTML = val + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' style='height: 30px;' src='{% static 'images/edit.png' %}'></a>"
                } else if (parent.id == 'contacts') {
                    parent.innerHTML = "Контакти: " + val + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' src='{% static 'images/edit.png' %}'></a>"
                } else if (parent.id == 'region') {
                    parent.innerHTML = "Локація: " + val + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' src='{% static 'images/edit.png' %}'></a>"
                };
            };
            function editfield(button) {
                if (button.id == 'name-edit-b') {
                    var arg = document.getElementById('get_new_name').value;
                    respfunc({"full_name": arg})
                    button.parentElement.innerHTML = arg + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' style='height: 30px;' src='{% static 'images/edit.png' %}'></a>"
                } else if (button.id == 'contacts-edit-b') {
                    var arg = document.getElementById('get_new_contacts').value;
                    respfunc({"contacts": arg})
                    button.parentElement.innerHTML = "Контакти: " + arg + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' src='{% static 'images/edit.png' %}'></a>"
                } else if (button.id == 'region-edit-b') {
                    var arg = document.getElementById('get_new_region').value;
                    var result = respfunc({"region": arg});
                    console.log(result)
                    var val = result.then(function(result) {
                        var updtValue = result.updt;
                        button.parentElement.innerHTML = "Локація: " + updtValue + "<a class='editprofilejs' onclick='switchtofield(this)'><img class='editprofilejsimg' src='{% static 'images/edit.png' %}'></a>" 
                    });
                };
                
            }
        </script>
        <script>
            async function changeavefunc(data) {
                    const result = await fetch(
                        '{{ request.path }}/updt_ave', {
                        method: 'POST',
                        headers:{"X-CSRFToken":csrftoken},
                        body: data
                        }); 
                    return result.json();
            };
            function switchave(field) {
                const parent = field.parentElement
                const edlink = document.getElementById('editavejs')
                edlink.remove()
                uplbut = '<input type="file" style="display:none" name="picture" accept="image/jpeg, image/jpg" required="" id="id_picture"><label style="margin-right: 10px;line-height: 38px;height: 38px;" class="profilephotolabel" for="id_picture">Завантажити</label>'
                subbut = "<button style='width:auto; margin-bottom:0px' class='profileeditbutton' onclick='switchaveajax(this)'>Підтвердити</button>"
                canbut = '<a id="canceditavejs" class="pinmetotl" onclick="cancswitchave(this)"><img class="editprofilejsimg" src="' + "{% static 'images/cancel.png' %}" + '"></a>'
                parent.innerHTML += uplbut + subbut + canbut
            };
            function cancswitchave(field) {
                const parent = field.parentElement
                const ave = document.getElementById('avatar').outerHTML
                const editbuttton = '<a id="editavejs" class="pinmetotl" onclick="switchave(this)"><img class="editprofilejsimg" src=' + "{% static 'images/edit.png' %}" + '></a>'
                parent.innerHTML = editbuttton + ave
            };
            function switchaveajax(field) {
                const parent = field.parentElement
                const image = document.getElementById('id_picture').files[0]
                const formData = new FormData();
                formData.append('image', image, image.name);
                const new_img = changeavefunc(formData)
                const val = new_img.then(function(new_img) {
                        var updtave = new_img.utd_img;
                        console.log(updtave)
                        parent.innerHTML = `
                        <a id="editavejs" class="pinmetotl" onclick="switchave(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a>
                        <img style="margin-top:20px" id="avatar" class="sellerimg" src="` + updtave + `">
                        `
                    });
            };
        </script>
        <div class="detailholder">
            <div class="avatarholder">
                <a id="editavejs" class="pinmetotl" onclick="switchave(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a>
                <img style="margin-top:20px" id="avatar" class="sellerimg" src="{{ seller.picture.url }}">
            </div>
            <br><h1 id="name">{{ seller.full_name }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" style="height: 30px;" src="{% static 'images/edit.png' %}"></a></h1>
            <!-- <div style="height: 200px;" class="maininfo"> -->
            <div class="maininfo">
            <p id="region">Локація: {{ seller.get_region_display }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a></p>
            <p>Всього оголошень створено: {{ seller.cars_added }}</p>
            <p id="contacts">Контакти: {{ seller.contacts }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a></p>
            <p>Активних оголошень: {{ car_count }}</p>
            <p><a style='background-color: #FFCA11; width: 300px;' class="detailseller" href="{% url 'logout' %}">Вийти з аккаунту</a></p>
        </div>
        </div>
        <div class="desc">
            <h2 style="text-align: center;margin-top: 0px;">Активні оголошення:</h2>
            <div class="minicarholder">
                {% for car in cars %}
                <div class="minicarad">
                    <a class="pinmetotr" href="{% url 'delete' car.id %}"><img src="{% static 'images/delete.png' %}"></a>
                    <img style="max-height: 200px;min-height: 120px;" class="sellpreview" src="{{ car.picture.url }}">
                    {% if car.title|length > 16 %}
                        <h3>{{ car.title|slice:":16" }}...</h3>
                    {% else %}
                        <h3>{{ car.title }}</h3>
                    {% endif %}
                    <span>
                        <p>Ціна: {{ car.price }} грн</p>
                        <p>Пробіг: {{ car.runtime }} км</p>
                    <div class="carad_buttons">
                    <a style='background-color: #FFCA11;' class="detailseller" href="{% url 'car' car.id %}">Переглянути</a>
                    </div>
                    </span>
                </div>
                {% endfor %}
                <div style="position: relative;" class="minicarad">
                    <a class="moreads" href="{% url 'newadd' %}">+</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}