{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="">
    <div class="main">
        <script>
            function switchtofield (field) {
                var parent = field.parentElement;
                parent.innerHTML = "";
                if (parent.id == 'name') {
                    parent.innerHTML = "<input id='get_new_name' type='text' class='profileeditinput'><button class='profileeditbutton'>Підтвердити</button><button class='profileeditbutton' onclick='setback(this)'>Скасувати</button>"
                } else if (parent.id == 'contacts') {
                    parent.innerHTML = "<input id='get_new_contacts' type='text' class='profileeditinput'><button class='profileeditbutton'>Підтвердити</button><button class='profileeditbutton' onclick='setback(this)'>Скасувати</button>"
                } else if (parent.id == 'region') {
                    parent.innerHTML = "<input id='get_new_region' type='text' class='profileeditinput'><button class='profileeditbutton'>Підтвердити</button><button class='profileeditbutton' onclick='setback(this)'>Скасувати</button>"
                };
            };
        </script>
        <div class="detailholder">
            <img class="sellerimg" src="{{ seller.picture.url }}">
            <br><h1 id="name">{{ seller.full_name }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" style="height: 30px;" src="{% static 'images/edit.png' %}"></a></h1>
            <div style="height: 200px;" class="maininfo">
            
            <p id="region">Локація: {{ seller.get_region_display }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a></p>
            <p>Всього оголошень створено: {{ seller.cars_added }}</p>
            <p id="contacts">Контакти: {{ seller.contacts }}<a class="editprofilejs" onclick="switchtofield(this)"><img class="editprofilejsimg" src="{% static 'images/edit.png' %}"></a></p>
            <p>Активних оголошень: {{ car_count }}</p>
            <p><a style='background-color: #FFCA11; width: 300px;' class="detailseller" href="{% url 'logout' %}">Вийти з аккаунту</a></p>
        </div>
        </div>
        <div class="desc">
            <h2 style="text-align: center;">Активні оголошення:</h2>
            <div class="minicarholder">
                {% for car in cars %}
                <div class="minicarad">
                    <a class="pinmetotr" href="{% url 'delete' car.id %}"><img src="{% static 'images/delete.png' %}"></a>
                    <img style="max-height: 200px;min-height: 120px;" class="sellpreview" src="{{ car.picture.url }}">
                    {% if car.title|length > 16 %}
                        <h3>{{ car.title|slice:":16" }}...</h3>
                    {% else %}
                        <h3>{{ car.title }}</h3>
                    {% endif %}
                    <span>
                        <p>Ціна: {{ car.price }} грн</p>
                        <p>Пробіг: {{ car.runtime }} км</p>
                    <div class="carad_buttons">
                    <a style='background-color: #FFCA11;' class="detailseller" href="{% url 'car' car.id %}">Переглянути</a>
                    </div>
                    </span>
                </div>
                {% endfor %}
                <div style="position: relative;" class="minicarad">
                    <a class="moreads" href="{% url 'newadd' %}">+</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}