{% extends 'base.html' %}
{% load static %}
{% block 'nav' %}
<li class="logoflex"><a href="{% url 'main' %}"><img class='logo' src="{% static 'images/logo.png' %}"></a></li>
<li><a class='topmenu' href="{% url 'cars' %}">Автомобілі</a></li>
<li><a class='topmenu' href="sellers.html">Продавці</a></li>
<li class="user_link"><a style='line-height: 0px;' class="topmenu" href="{% url 'profile' %}"><img id="dark" style="display: none;" class='user_img' src="{% static 'images/user_dark.png' %}"><img id='light' class='user_img' src="{% static 'images/user.png' %}"></a></li>
{% endblock %}
{% block 'content' %}
<div class="">
    <div class="main">
        <div class="detailholder">
            <img src="{{ seller.picture.url }}">
            <br><h1>{{ seller.full_name }}</h1>
            <div style="height: 200px;" class="maininfo">
            <p>Локація: {{ seller.get_region_display }}</p>
            <p>Всього оголошень створено: #OUT-OF-ORDER#</p>
            <p>Активних оголошень: {{ car_count }}</p>
        </div>
        </div>
        <div class="desc">
            <h2 style="text-align: center;">Активні оголошення:</h2>
            <div class="minicarholder">
                {% for car in cars %}
                <div class="minicarad">
                    <img class="sellpreview" src="{{ car.picture.url }}">
                    <h3>{{ car.title }}</h3>
                    <span>
                        <p>Ціна: {{ car.price }} грн</p>
                        <p>Пробіг: {{ car.runtime }} км</p>
                    <div class="carad_buttons">
                    <a style='background-color: #FFCA11;' class="detailseller" href="{% url 'car' car.id %}">Переглянути</a>
                    </div>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}