{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="">
    <div class="main">
        <div class="detailholder">
            <img style="margin-top:20px" id="avatar" class="sellerimg" src="{{ seller.picture.url }}">
            <br><h1>{{ seller.full_name }}</h1>
            <div class="maininfo">
            <p>Локація: {{ seller.get_region_display }}</p>
            <p>Всього оголошень створено: {{ seller.cars_added }}</p>
            <p>Контакти: {{ seller.contacts }}</p>
            <p>Активних оголошень: {{ car_count }}</p>
        </div>
        </div>
        <div class="desc">
            <h2 style="text-align: center;margin-top:0px">Активні оголошення:</h2>
            <div class="minicarholder">
                {% for car in cars %}
                <div class="minicarad">
                    <img style="max-height: 200px;min-height: 120px;" class="sellpreview" src="{{ car.picture.url }}">
                    {% if car.title|length > 16 %}
                        <h3>{{ car.title|slice:":16" }}...</h3>
                    {% else %}
                        <h3>{{ car.title }}</h3>
                    {% endif %}
                    <span>
                        <p>Ціна: {{ car.price }} грн</p>
                        <p>Пробіг: {{ car.runtime }} км</p>
                    <div class="carad_buttons">
                    <a style='background-color: #FFCA11;' class="detailseller" href="{% url 'car' car.id %}">Переглянути</a>
                    </div>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}