{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div class="bgcont">    
    <div style="text-align: center;" class="marginforffh finalformholder"><form action="{% url 'login' %}" method="post" name="login">
        {% csrf_token %}
        <h2>Увійти до акаунту</h2>
        <p>Логін: {{ form.username }}</p>
        <p>Пароль: {{ form.password }}</p>
        {{ form.errors }}
        <button type="submit">Увійти до аккаунту</button><a href="{% url 'registration' %}"><button type="button" style="background-color: gray;margin-left: 10px;">Немає аккаунту</button></a>
    </form></div>
</div>
{% endblock %}