{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
    <div class="bgcont">
        <div style="margin: 8% auto;" class="finalformholder"><form method="post" enctype="multipart/form-data" action="{% url 'registration' %}" name="registration">
            {% csrf_token %}
            <h2>Реєстрація</h2>
            <p>Логін: {{ form.username }}</p>
            <p>Пароль: {{ form.password1 }}</p>
            <p>Підтвердження паролю: {{ form.password2 }}</p>
            <p>Ім'я: {{ form.full_name }}</p>
            <p>Контакти: {{ form.contacts }}</p>
            <p>Регіон: {{ form.region }}</p>
            <p>Фото профілю: <input type="file" name="picture" accept="image/*" required="" id="id_picture">
            <label class="profilephotolabel" for="id_picture">-Завантажити-</label></p>
            {{ form.errors }}
            <button type="submit">Зареєструватися</button>
        </form></div>
    </div>
{% endblock %}